    <%layout ('layouts/boilerplate')%>
    <div class="container-fluid d-flex">
        <a href="/campgrounds" class="index-link-styling"><h1>All Campgrounds</h1></a>
        <form class="ms-auto" action="/campgrounds/search?">
                <input class="form-control" name="q" id="campSearchEntry" placeholder="Search">
                <button id="campSearchButton"><i class="fa-solid fa-magnifying-glass fa-sm"></i></button>
        </form>
    </div>
    <%if(campGrounds.length > 0){ %>
        <ul>
            <div id="campMap" class="mx-auto mb-2 mt-3"></div>
            <% for(let campground of campGrounds) { %>
                <div class="card mb-2">
                    <div class="row">
                        <div class="col-4">
                            <%if(campground.images.length > 0) {%>
                            <img src="<%=campground.images[0].url%>" alt="" class="img-fluid">
                            <% } else { %>
                            <img src="" alt="No Image Available" class="img-fluid">
                            <% } %>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title mb-0"><%=campground.title%></h5>
                                <div class="card-text mb-2">
                                    <small class="text-muted">
                                        <%=campground.location%>
                                    </small>
                                </div>
                                <%for(let textGroup of campground.description.split('\n')) { %>
                                    <div class="card-text"><%=textGroup%></div>
                                    <% } %>
                                <a href="/campgrounds/<%=campground._id%>" class="btn btn-sm btn-primary mt-4">View <%=campground.title%></a>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </ul>
    <% } else { %>
        <div class="container d-flex flex-column justify-content-center align-items-center mt-5 vh-50 no-results-container">
            <h4 class="text-center">Sorry, no items match that search.</h4>
            <a id="allCampNav" href="/campgrounds">Return to all campgrounds</a>
        </div>
    <% } %>
    <script>const foundCamps = <%-campGroundsJSON%></script>
    <script>const mbToken = '<%-process.env.mapBoxToken%>'</script>
    <script src="/js/utils/clusterMap.js"></script>

